In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("DATAWRAPPER_COMBINED.xlsx")

In [4]:
df1 = pd.read_excel("DATAWRAPPER_COMBINED.xlsx", sheet_name="14-23")

In [5]:
df2 = pd.read_excel("DATAWRAPPER_COMBINED.xlsx", sheet_name="21-22")

In [15]:
## combine  2014-2023 data and 2021-2022 data
combined_df = pd.concat([df1, df2], ignore_index=True)

In [17]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39148 entries, 0 to 39147
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Kit ID                                 39148 non-null  int64
 1   Borough                                39148 non-null  object
 2   Zipcode                                39148 non-null  int64
 3   Date Received                          39148 non-null  datetime64[ns]
 4   Date Collected                         39148 non-null  datetime64[ns]
 5   # of samples in zip                    39148 non-null  int64
 6   # of samples over limit in zip         39148 non-null  int64
 7   AVG lead levels in over-limit samples  39148 non-null  object
 8   AVG % of limit in overlimit samples    39148 non-null  object
dtypes: datetime64[ns](2), int64(4), object(3)
memory usage: 2.7+ MB

In [21]:
## drop duplicate ID numbers if they occur across both columns, and keep the last recorded sample as that would be most accurate
df_clean_combo = combined_df.drop_duplicates(subset=combined_df.columns[0], keep='last')

In [23]:
df_clean_combo.to_excel('Combined_LeadSamples_DATAWRAPPER.xlsx', index=False)

In [25]:
df_clean_combo.describe()

,Kit ID,Zipcode,Date Received,Date Collected,# of samples in zip,# of samples over limit in zip
count,3.914300e+04,39143.000000,39143,39143,39143.000000,39143.000000
mean,3.854742e+07,10820.848657,2019-08-20 09:36:17.216871680,2019-08-15 08:35:21.942620672,367.582914,10.037785
min,1.513650e+05,10000.000000,2014-01-07 00:00:00,2014-01-01 00:00:00,1.000000,0.000000
25%,1.723800e+07,10065.000000,2017-04-27 00:00:00,2017-04-22 00:00:00,144.000000,3.000000
50%,1.926130e+07,11209.000000,2019-08-06 00:00:00,2019-08-02 00:00:00,284.000000,7.000000
75%,2.128505e+07,11232.000000,2022-01-06 00:00:00,2022-01-01 00:00:00,553.000000,13.000000
max,2.331106e+08,12345.000000,2024-01-02 00:00:00,2023-12-30 00:00:00,1448.000000,42.000000
std,6.189989e+07,565.890241,NaN,NaN,307.854533,9.613226

In [27]:
df_clean_combo["AVG lead levels in over-limit samples"].describe()

count                     39143
unique                      125
top       No samples over limit
freq                       2708
Name: AVG lead levels in over-limit samples, dtype: object

In [33]:
## from excel function calculations (LEAD PIPE MASTER, first two sheets):

## 2021-2022: 
##AVG LEAD LEVEL IN OVERLIMIT Samples: 188.5948798,	AVG Samples over limit: 10.44522085,	AVG # OF SAMPLES: 395.7643801,
##TOTAL AVG % OF SAMPLES OVER LIMIT:0.026392524

## 2014-2023:
## AVG LEAD LEVEL IN OVERLIMIT Samples: 76.4350827 AVG Samples over limit: 6.390565559	AVG # OF SAMPLES:115.568095	
##TOTAL AVG % OF SAMPLES OVER LIMIT: 0.05529697

In [37]:
## FIND THE AVERAGE % of samples over limit in combined df
def average(a, b):
    return (a + b) / 2  # Calculate the average of two numbers

# Now call the function
average(.055, .026)

0.0405

In [ ]:
## average % of samples over limit from 2014-23 is 4%

In [53]:
## the average lead level in overlimit samples is 132 ug/L
average(188.5948798, 76.4350827)

132.51498125

In [39]:
COMBINED_JUSTZIP = pd.read_excel("LEAD PIPE MASTER.xlsx", sheet_name="COMBINED")

In [41]:

COMBINED_JUSTZIP_NODUPE = COMBINED_JUSTZIP.drop_duplicates(subset=COMBINED_JUSTZIP.columns[2], keep='last')

In [43]:
COMBINED_JUSTZIP_NODUPE.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191 entries, 13483 to 39142
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Kit ID                                        191 non-null    int64
 1   Borough                                       191 non-null    object
 2   Zipcode                                       191 non-null    int64
 3   Date Received                                 191 non-null    datetime64[ns]
 4   % of samples over limit                       191 non-null    float64
 5   Total samples in zip                          191 non-null    int64
 6   # of samples over limit in zip                191 non-null    int64
 7   AVG lead levels in over-limit samples (ug/L)  191 non-null    object
 8   AVG % of limit in overlimit samples           191 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(4), object(3)
memory usage: 14.9+ KB

In [45]:
COMBINED_JUSTZIP_NODUPE

,Kit ID,Borough,Zipcode,Date Received,% of samples over limit,Total samples in zip,# of samples over limit in zip,AVG lead levels in over-limit samples (ug/L),AVG % of limit in overlimit samples
13483,14221258,YONKERS,10701,2014-06-17,0.000000,1,0,No samples over limit,No samples over limit
15487,16225767,NEW YORK,10179,2016-02-26,0.000000,1,0,No samples over limit,No samples over limit
17898,16226831,BROOKLYN,11242,2016-05-31,0.000000,1,0,No samples over limit,No samples over limit
18254,16232271,NEW YORK,10103,2016-06-24,0.000000,1,0,No samples over limit,No samples over limit
23606,17245567,NEW YORK,10271,2017-11-22,0.000000,1,0,No samples over limit,No samples over limit
...,...,...,...,...,...,...,...,...,...
39137,21285048,Manhattan,10031,2022-01-04,0.027149,221,6,67,4.47
39139,21285647,Staten Island,10304,2022-01-03,0.011236,89,1,9655,643.67
39140,21279316,Brooklyn,11222,2022-01-10,0.012876,699,9,45,3.01
39141,20271154,Brooklyn,11210,2022-01-18,0.045226,199,9,45,3.01
39142,21285639,Brooklyn,11215,2022-01-05,0.029006,1448,42,184,12.25

In [49]:
## create a file for Datawrapper with each zip code's averages only listed once
COMBINED_JUSTZIP_NODUPE.to_excel('COMBINED_DROPDUPLICATED.xlsx', index=False)