In [2]:
import pandas as pd

In [3]:
## a dataset of lead samples between 2014 and 2023
df = pd.read_csv("Tap Test Lead Copper.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3943 entries, 0 to 3942
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   KIT ID Number                              3943 non-null   int64
 1   Borough                                    3943 non-null   object
 2   AVG % of limit in overlimit samples        3943 non-null   object
 3   AVG lead levels in over-limit samples      3943 non-null   object
 4   AVG lead level in zip                      3943 non-null   float64
 5   # of samples over limit in zip             3943 non-null   int64
 6   Count of samples                           3943 non-null   int64
 7   Zipcode                                    3943 non-null   int64
 8   Date Collected                             3943 non-null   object
 9   Received Date                              3943 non-null   object
 10  Percent over limit                         3943 non-null   object
 11  First Draw at-the-tap Lead level (µg/l)    3943 non-null   int64
 12  First Draw at-the-tap copper level (mg/l)  3943 non-null   float64
dtypes: float64(2), int64(5), object(6)
memory usage: 400.6+ KB

In [5]:
df.describe()

,KIT ID Number,AVG lead level in zip,# of samples over limit in zip,Count of samples,Zipcode,First Draw at-the-tap Lead level (µg/l),First Draw at-the-tap copper level (mg/l)
count,3.943000e+03,3943.000000,3943.000000,3943.000000,3943.00000,3943.000000,3943.000000
mean,3.581230e+07,8.108293,6.390566,115.568095,10882.68704,8.108293,0.134403
std,6.028639e+07,10.122107,6.442040,106.402171,501.48005,110.372370,0.300461
min,1.513650e+05,0.000000,0.000000,1.000000,10010.00000,0.000000,0.003000
25%,1.612976e+07,2.575668,1.000000,31.000000,10309.00000,0.000000,0.092000
50%,1.814986e+07,4.171053,4.000000,69.000000,11212.00000,2.000000,0.123000
75%,2.118002e+07,8.435294,15.000000,217.000000,11358.00000,6.000000,0.156000
max,2.311009e+08,48.573529,23.000000,337.000000,11694.00000,4960.000000,18.170000

In [6]:
## see statistics on lead levels across data set. average is below level, but STD suggests a high number of samples surpassing lead level regulation
df["First Draw at-the-tap Lead level (µg/l)"].describe()

count    3943.000000
mean        8.108293
std       110.372370
min         0.000000
25%         0.000000
50%         2.000000
75%         6.000000
max      4960.000000
Name: First Draw at-the-tap Lead level (µg/l), dtype: float64

In [7]:
df["First Draw at-the-tap Lead level (µg/l)"].max()

4960

In [8]:
df.sort_values (by = "First Draw at-the-tap Lead level (µg/l)", ascending = False)

,KIT ID Number,Borough,AVG % of limit in overlimit samples,AVG lead levels in over-limit samples,AVG lead level in zip,# of samples over limit in zip,Count of samples,Zipcode,Date Collected,Received Date,Percent over limit,First Draw at-the-tap Lead level (µg/l),First Draw at-the-tap copper level (mg/l)
1728,1410085,QUEENS,1141.2%,262.4782609,48.573529,23,136,11358,6/13/14,6/17/14,33066.70%,4960,0.430
3152,16129759,STATEN ISLAND,2578.2%,386.7333333,27.631336,15,217,10314,6/20/16,6/22/16,31506.70%,4726,0.363
1867,1410028,QUEENS,5444.4%,163.3333333,8.435294,3,85,11432,6/18/14,6/20/14,2813.30%,422,0.420
2307,19161107,QUEENS,2300.0%,115,16.621622,5,37,11415,8/20/19,8/22/19,2533.30%,380,0.180
932,22190339,STATEN ISLAND,2578.2%,386.7333333,27.631336,15,217,10314,6/13/22,6/15/22,2000.00%,300,0.176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,18149550,Staten Island,784.0%,39.2,3.983333,5,60,10305,8/17/18,8/20/18,0.00%,0,0.041
2466,18149886,Staten Island,743.8%,29.75,1.455026,4,189,10308,8/22/18,8/23/18,0.00%,0,0.093
2465,18149634,Staten Island,237.3%,35.6,2.575668,15,337,10309,8/26/18,8/29/18,0.00%,0,0.086
2464,18149430,Staten Island,2578.2%,386.7333333,27.631336,15,217,10314,8/30/18,9/5/18,0.00%,0,0.130
3942,231100779,Staten Island,250.8%,40.125,3.742063,16,252,10312,9/27/23,10/4/23,0.00%,0,0.100

In [9]:
overlimitLead = df[df["First Draw at-the-tap Lead level (µg/l)"] >= 15]

In [10]:
## 266 samples of lead over the 15 ug/L limit
overlimitLead.describe()

,KIT ID Number,AVG lead level in zip,# of samples over limit in zip,Count of samples,Zipcode,First Draw at-the-tap Lead level (µg/l),First Draw at-the-tap copper level (mg/l)
count,2.660000e+02,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000
mean,3.728524e+07,13.318864,8.548872,101.639098,10935.052632,79.872180,0.188068
std,6.274549e+07,13.387829,6.984042,97.205236,488.833094,418.946413,0.254567
min,1.513770e+05,0.755102,0.000000,2.000000,10013.000000,15.000000,0.005000
25%,1.612966e+07,4.013141,3.000000,31.250000,10312.000000,18.000000,0.100250
50%,1.870565e+07,8.511111,5.000000,59.000000,11223.000000,24.000000,0.134000
75%,2.118009e+07,13.464286,15.000000,136.000000,11358.000000,46.000000,0.189000
max,2.311009e+08,48.573529,23.000000,337.000000,11693.000000,4960.000000,3.197000

In [11]:
## 14.8 percent of tap samples over lead limit
3943/266

14.823308270676693

In [12]:
## 549,203 apartments may have lead based on this sample (HALF A MILLION!)
3_705_000 * .14823308270676693

549203.5714285715

In [13]:
## the average lead limit in these samples was over 4 times higher than regulation
79.87-15
64.87/15

4.324666666666667

In [14]:
overlimitCopper = df[df["First Draw at-the-tap copper level (mg/l)"] >= 1.3]

In [15]:
## 3 samples over copper limit
overlimitCopper.describe()

,KIT ID Number,AVG lead level in zip,# of samples over limit in zip,Count of samples,Zipcode,First Draw at-the-tap Lead level (µg/l),First Draw at-the-tap copper level (mg/l)
count,3.000000e+00,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
mean,1.848720e+07,12.591479,0.666667,9.333333,10913.666667,26.000000,7.801333
std,3.246887e+06,15.094586,0.577350,8.736895,780.000855,26.210685,8.998241
min,1.612928e+07,3.142857,0.000000,2.000000,10013.000000,4.000000,2.037000
25%,1.663554e+07,3.887218,0.500000,4.500000,10688.000000,11.500000,2.617000
50%,1.714179e+07,4.631579,1.000000,7.000000,11363.000000,19.000000,3.197000
75%,1.966616e+07,17.315789,1.000000,13.000000,11364.000000,37.000000,10.683500
max,2.219053e+07,30.000000,1.000000,19.000000,11365.000000,55.000000,18.170000

In [68]:
## create new dataset just showing lead samples that are over-limit
overlimitLead.to_csv("Over-Limit Lead Samples At Tap.csv")

In [70]:
## create new dataset just showing copper samples that are over-limit
overlimitCopper.to_csv("Over-Limit Copper Samples At Tap.csv")

In [72]:
overlimitLead[["Date Collected"]]

     Date Collected
22           6/5/20
28           6/5/20
32           6/5/20
41           6/6/20
60           6/6/20
...             ...
3905         8/6/23
3911         8/9/23
3930        9/14/23
3932        9/16/23
3933        9/16/23

[266 rows x 1 columns]

In [74]:
# Path to your Excel file
##file_path = "/Users/lizziewalsh/dataProjects/Water Bottle Pitch/DataAnalysis/Specific Contaminants/Tap_Lead Copper_Data_2 draws_20250425.xlsx"

# List all sheet names in the Excel file
##excel_file = pd.ExcelFile(file_path)
##print("Available sheets:", excel_file.sheet_names)

In [76]:
## 2021-2022 data set. analyze a similar tap sample data set that analyzes lead levels from two draws from a resident's tap. converted measurement level in excel from mg/L to standard ug/L
Twodrawsdf = pd.read_csv("TapLeadCop_2draws_converted.csv")

In [78]:
Twodrawsdf.describe()

,Kit ID,Zipcode,# of samples in zip,FUNCTION # of samples in zip,#of samples over limit in zip,FUNCTION Count of samples over limit in zip,Lead First Draw_Converted (ug/L),Lead First_Draw (mg/L),Lead 1-2 Min_Converted (ug/L),Lead 1-2 Minute Flush (mg/L),Copper First Draw (mg/L),Copper 1-2 Minute Flush (mg/L),Unnamed: 19,Unnamed: 20,Number of first draw lead samples over limit,Number of second draw lead over limit,Average lead level in over limit samples
count,3.520500e+04,35205.000000,35205.000000,35205.000000,35205.000000,35205.000000,35205.000000,35184.000000,35205.000000,35179.000000,35184.000000,35179.000000,0.0,0.0,1.0,1.0,1.000000
mean,3.885101e+07,10813.938816,395.764380,395.764380,10.445221,10.445221,5.930720,0.005934,1.503054,0.001504,0.163360,0.064820,NaN,NaN,931.0,3.0,187.847476
std,6.206739e+07,572.248304,310.185091,310.185091,9.821283,9.821283,177.868891,0.177922,21.160007,0.021168,0.269442,0.184416,NaN,NaN,NaN,NaN,NaN
min,1.410052e+06,10000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,931.0,3.0,187.847476
25%,1.723964e+07,10035.000000,163.000000,163.000000,4.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.084000,0.020000,NaN,NaN,931.0,3.0,187.847476
50%,1.926256e+07,11209.000000,307.000000,307.000000,8.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.137000,0.036000,NaN,NaN,931.0,3.0,187.847476
75%,2.128571e+07,11231.000000,562.000000,562.000000,13.000000,13.000000,1.000000,0.001000,0.000000,0.000000,0.196000,0.080000,NaN,NaN,931.0,3.0,187.847476
max,2.331106e+08,12345.000000,1448.000000,1448.000000,42.000000,42.000000,17029.000000,17.029000,2420.000000,2.420000,27.739000,24.925000,NaN,NaN,931.0,3.0,187.847476

In [80]:
Twodrawsdf["Lead First Draw_Converted (ug/L)"].describe()

count    35205.000000
mean         5.930720
std        177.868891
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max      17029.000000
Name: Lead First Draw_Converted (ug/L), dtype: float64

In [82]:
Twodraws_overlimitlead = Twodrawsdf[Twodrawsdf["Lead First Draw_Converted (ug/L)"] >= 15]

In [84]:
Twodraws_overlimitlead.sample()

,Kit ID,Borough,Zipcode,Date Received,Date Collected,# of samples in zip,FUNCTION # of samples in zip,#of samples over limit in zip,FUNCTION Count of samples over limit in zip,AVG lead levels in over-limit samples,...,Lead First_Draw (mg/L),Lead 1-2 Min_Converted (ug/L),Lead 1-2 Minute Flush (mg/L),Copper First Draw (mg/L),Copper 1-2 Minute Flush (mg/L),Unnamed: 19,Unnamed: 20,Number of first draw lead samples over limit,Number of second draw lead over limit,Average lead level in over limit samples
22379,18247431,BROOKLYN,11238,3/1/18,2/28/18,850,850.0,29,29,96,...,0.018,0,0.0,0.208,0.019,NaN,NaN,NaN,NaN,NaN

In [86]:
## 985 of samples are above lead limit
Twodraws_overlimitlead.describe()

,Kit ID,Zipcode,# of samples in zip,FUNCTION # of samples in zip,#of samples over limit in zip,FUNCTION Count of samples over limit in zip,Lead First Draw_Converted (ug/L),Lead First_Draw (mg/L),Lead 1-2 Min_Converted (ug/L),Lead 1-2 Minute Flush (mg/L),Copper First Draw (mg/L),Copper 1-2 Minute Flush (mg/L),Unnamed: 19,Unnamed: 20,Number of first draw lead samples over limit,Number of second draw lead over limit,Average lead level in over limit samples
count,9.850000e+02,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,982.000000,985.000000,982.000000,0.0,0.0,0.0,0.0,0.0
mean,3.287027e+07,10950.976650,390.141117,390.141117,12.841624,12.841624,178.371574,0.178372,19.669036,0.019729,0.502016,0.150077,NaN,NaN,NaN,NaN,NaN
std,5.309413e+07,513.716868,310.408696,310.408696,9.974525,9.974525,1049.329552,1.049330,116.667506,0.116841,1.344700,0.898630,NaN,NaN,NaN,NaN,NaN
min,1.410225e+06,10000.000000,12.000000,12.000000,0.000000,0.000000,15.000000,0.015000,0.000000,0.000000,0.010000,0.001000,NaN,NaN,NaN,NaN,NaN
25%,1.723724e+07,10464.000000,162.000000,162.000000,6.000000,6.000000,20.000000,0.020000,1.000000,0.001000,0.134000,0.021000,NaN,NaN,NaN,NaN,NaN
50%,1.926040e+07,11216.000000,304.000000,304.000000,9.000000,9.000000,32.000000,0.032000,4.000000,0.004000,0.203000,0.040000,NaN,NaN,NaN,NaN,NaN
75%,2.128501e+07,11237.000000,554.000000,554.000000,20.000000,20.000000,72.000000,0.072000,11.000000,0.011000,0.348000,0.106000,NaN,NaN,NaN,NaN,NaN
max,2.331106e+08,11693.000000,1448.000000,1448.000000,42.000000,42.000000,17029.000000,17.029000,2420.000000,2.420000,27.739000,24.925000,NaN,NaN,NaN,NaN,NaN

In [88]:
## 2.8% of samples are above lead limit
985/35205

0.02797898025848601

In [2]:
## 2.3 million NYC apartments.
## Based on 2014-2023 data, 555,000 NYC apartments could have lead.
## Based on larger set of data between 2021 and 2022, 111,000 could have lead