In [1]:
import pandas as pd

In [2]:
## check out a self-sliced DF of fluoride levels in NYC street-side/reservoir samples
fluoridewaterqualdf = pd.read_csv("NYC_FluorideData_copy.csv")

In [3]:
fluoridewaterqualdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20183 entries, 0 to 20182
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sample Number                        20183 non-null  int64
 1   Sample Date                          20183 non-null  object
 2   Sample Time                          20183 non-null  object
 3   Sample Site                          20183 non-null  object
 4   Sample class                         20183 non-null  object
 5   Residual Free Chlorine (mg/L)        20183 non-null  float64
 6   Turbidity (NTU)                      20183 non-null  object
 7   Fluoride (mg/L)                      20183 non-null  object
 8   Coliform (Quanti-Tray) (MPN /100mL)  20176 non-null  object
 9   E.coli(Quanti-Tray) (MPN/100mL)      20176 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.5+ MB

In [4]:
## some levels are marginally high, but fluoride is not a large public health hazard
fluoridewaterqualdf["Fluoride (mg/L)"]

0        <0.30
1        <0.30
2        <0.30
3        <0.30
4         <0.3
         ...
20178     0.04
20179     0.03
20180     0.03
20181     0.03
20182     0.03
Name: Fluoride (mg/L), Length: 20183, dtype: object

In [5]:
Chlorinedf = pd.read_csv("NYC_FluorideData_copy.csv")
Chlorinedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20183 entries, 0 to 20182
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Sample Number                        20183 non-null  int64
 1   Sample Date                          20183 non-null  object
 2   Sample Time                          20183 non-null  object
 3   Sample Site                          20183 non-null  object
 4   Sample class                         20183 non-null  object
 5   Residual Free Chlorine (mg/L)        20183 non-null  float64
 6   Turbidity (NTU)                      20183 non-null  object
 7   Fluoride (mg/L)                      20183 non-null  object
 8   Coliform (Quanti-Tray) (MPN /100mL)  20176 non-null  object
 9   E.coli(Quanti-Tray) (MPN/100mL)      20176 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.5+ MB

In [6]:
chlorinevalues = Chlorinedf["Residual Free Chlorine (mg/L)"]

In [7]:
## New York State's MCL for chlorine is 4 mg/L
count1 = (chlorinevalues > 4)

In [8]:
count1

0        False
1        False
2        False
3        False
4        False
         ...
20178    False
20179    False
20180    False
20181    False
20182    False
Name: Residual Free Chlorine (mg/L), Length: 20183, dtype: bool

In [9]:
## there were no samples that surpassed chlorine MCL
count2 = (chlorinevalues > 4).sum()

In [10]:
count2

0

In [11]:
print(f"Number of values greater than 5: {count2}")

Number of values greater than 5: 0

In [12]:
18840/20182

0.9335051035576256

In [13]:
bigdf = pd.read_csv("Drinking_Water_Quality_Distribution_Monitoring_Data_20250305.csv")

/var/folders/rc/n80vvwzn0cgc5d6p28yqkgtm0000gn/T/ipykernel_48248/3247908101.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  bigdf = pd.read_csv("Drinking_Water_Quality_Distribution_Monitoring_Data_20250305.csv")

In [14]:
bigdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151480 entries, 0 to 151479
Data columns (total 10 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Sample Number                        151480 non-null  int64
 1   Sample Date                          151480 non-null  object
 2   Sample Time                          151479 non-null  object
 3   Sample Site                          151477 non-null  object
 4   Sample class                         151480 non-null  object
 5   Residual Free Chlorine (mg/L)        151431 non-null  float64
 6   Turbidity (NTU)                      151428 non-null  object
 7   Fluoride (mg/L)                      20183 non-null   object
 8   Coliform (Quanti-Tray) (MPN /100mL)  151364 non-null  object
 9   E.coli(Quanti-Tray) (MPN/100mL)      151364 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 11.6+ MB

In [15]:
## convert fluoride to integer values for analysis
bigdf["Fluoride (mg/L)"] = pd.to_numeric(bigdf["Fluoride (mg/L)"], errors='coerce')

In [16]:
## confirm conversion
bigdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151480 entries, 0 to 151479
Data columns (total 10 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Sample Number                        151480 non-null  int64
 1   Sample Date                          151480 non-null  object
 2   Sample Time                          151479 non-null  object
 3   Sample Site                          151477 non-null  object
 4   Sample class                         151480 non-null  object
 5   Residual Free Chlorine (mg/L)        151431 non-null  float64
 6   Turbidity (NTU)                      151428 non-null  object
 7   Fluoride (mg/L)                      20162 non-null   float64
 8   Coliform (Quanti-Tray) (MPN /100mL)  151364 non-null  object
 9   E.coli(Quanti-Tray) (MPN/100mL)      151364 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 11.6+ MB

In [17]:
## check samples that are over the optimum fluoride level
overlimitFluoride = bigdf.query("`Fluoride (mg/L)` > 0.7")

In [52]:
## check samples that are over 4.0 mg/L federal and state MCL
overlimitFluoride = bigdf.query("`Fluoride (mg/L)` > 4")

In [54]:
## no samples were over the limit of fluoride, though 11,000 were over the optimum level
overlimitFluoride.describe()

,Sample Number,Residual Free Chlorine (mg/L),Turbidity (NTU),Fluoride (mg/L)
count,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN

In [19]:
bigdf["Turbidity (NTU)"] = pd.to_numeric(bigdf["Turbidity (NTU)"], errors='coerce')

In [20]:
## turbidity level in New York State is 5 NTU
TBDF = bigdf["Turbidity (NTU)"]

In [21]:
## check out the turbidity values
TBDF.describe()

count    150570.000000
mean          0.731172
std           0.252255
min           0.100000
25%           0.620000
50%           0.730000
75%           0.850000
max          33.800000
Name: Turbidity (NTU), dtype: float64

In [22]:
overlimitTurbidity = bigdf.query("`Turbidity (NTU)` > 5")

In [23]:
## 23 samples were over the turbidity limit
overlimitTurbidity.describe()

,Sample Number,Residual Free Chlorine (mg/L),Turbidity (NTU),Fluoride (mg/L)
count,2.300000e+01,23.000000,23.000000,1.00
mean,2.018198e+08,0.598261,8.747391,0.75
std,1.865887e+05,0.314594,7.198345,NaN
min,2.015123e+08,0.000000,5.030000,0.75
25%,2.017188e+08,0.365000,5.450000,0.75
50%,2.018015e+08,0.600000,6.040000,0.75
75%,2.019368e+08,0.920000,7.720000,0.75
max,2.023177e+08,1.060000,33.800000,0.75

In [24]:
## find when the samples were taken.
bigdf["Sample Date"].head(3)

0    12/31/24
1    12/31/24
2    12/31/24
Name: Sample Date, dtype: object

In [25]:
## between Sept 2024 and End of year 2024
bigdf["Sample Date"].tail(3)

151477    9/30/24
151478    9/30/24
151479    9/30/24
Name: Sample Date, dtype: object

In [ ]:
## decided that fluoride is not an important enough public health threat and that turbidity levels are minimal. will examine lead and other contaminants in other datasets.